body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404c51;
}

label{
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container{
    width: 1170px;
    margin: 0 auto;
  }

}

.col-valor-header {
  width: 120px;
  text-align: right;
}

.col-data-header {
  width: 120px;
  text-align: center;
}


